<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khairul Softworks: Question Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <!-- page Footer -->
    <footer class="app-footer">
        <p>&copy; 2025 Khairul Anwar Sedek. Educational Question Generator. All rights reserved.</p>
        <p>* Use at your risk. </p>
    </footer>
</body>
</html>